.parent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin: 0 auto;
	max-width: 800px;
	height: 400px;
	border: 1px solid #000;
}

.child{
	height: 60px;
	border: 1px solid green;
}

