.parent{
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 20px;
	text-align: justify;

}

.child{
	width: 100px;
	height: 50px;
	border: 1px solid #000;
	float: right;
	margin: 15px 0 0 15px;
}