.parent{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: flex-start;
	max-width: 900px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid #000;
}

.child{
	width: 140px;
	height: 80px;
	border: 1px solid green;
}