.nav{
	display: flex;
	flex-direction: column;

	max-width: 400px;
}

a{
	padding: 10px;
	margin: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #16A177;
	max-width: px;
	font: 16px Arial;
	box-sizing: border-box;
	border: 1px solid #16A177;
}

.active, a:hover{
	background-color: #fff;
	color: #16A177;

	box-sizing: border-box;
} 