.parent{
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin: 0 auto;
	max-width: 800px;
	height: 400px;
	border: 1px solid #000;
}

.child{
	width: 90px;
	border: 1px solid green;
}

