div{
	margin: 0 auto;
	width: 600px;
	text-align: justify;
	border: 1px solid #000;
	padding: 15px;
}

#left{
	float: left;
	margin-right: 15px;
}

#right{
	float: right;
	margin-left: 15px;
	margin-top: 15px;
}