.parent{
	margin: 0 auto;
	width: 530px;
	border: 1px solid #000;
	padding: 10px;
}

.child{
	border: 1px solid #000;
	width: 90px;
	height: 40px;
	float: left;
	margin-left: 10px;
}

.clearfix{
	clear: both;
}
