html, body{
	margin: 0;
	padding: 0;
}

#wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#wrapper h1{
	font: 30px "Times New Roman";
}

.content_item{
	text-align: justify;
	border: 1px solid #707070;
	margin-bottom: 20px;
	padding: 20px;
}

.more{
	display: block;
	text-align: right;
	padding-right: 20px;
	text-decoration: none;
	color: blue;
}

.more:hover{
	text-decoration: underline;
}

.title_link{
	text-decoration: none;
	color:  blue;
	font-weight: bold;
}

.title_link:hover{
	text-decoration: underline;
}