* {
	box-sizing: border-box;
}

#wrapper {
	width: 1000px;
	margin: 30px auto;
	border: 1px solid black;
}
#header {
	height: 250px;
	padding: 20px;
	border: 1px solid black;
}
#container {
	display: flex;
}
#content {
	order: -1;
	width: 520px;
	height: 700px;
	padding: 20px;
	border: 1px solid black;
}
#left {
	width: 250px;
	margin-left: 15px;
	padding: 20px;
	border: 1px solid black;
}
#right {
	width: 200px;
	margin-left: 15px;
	padding: 20px;
	border: 1px solid black;
}
#footer {
	height: 100px;
	padding: 20px;
	border: 1px solid black;
}


