.parent{
	margin: 0 auto;
	width: 750px;
	border: 1px solid #000;
	padding: 15px;
	text-align: justify;
}
.child{
	width: 75px;
	height: 40px;
	float: right;
	border: 1px solid #000;
	margin: 15px;
}
