.parent{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 800px;
	height: 600px;
	border: 1px solid #000;
}

.child{
	width: 100px;
	height: 80px;
	border: 1px solid green;
}

.elem{
	align-self: flex-end;
}