.parent{
	max-width: 700px;
	height: 400px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid #000;
}

.child{
	width: 80px;
	height: 60px;
	border: 1px solid #000;
}
