#parent {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #4DEE99;
	position: relative;
	background-color: white;
    border-radius: 50%;
    background-color:#4DEE99;

}

#child-1{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	position: absolute;
    top: 70px;
    left: 100px;
	border: 1px solid #fff;
	background-color: white;
	border-radius: 50%;
}

#child-2{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	position: absolute;
	bottom:60px;
    top: 70px;
    right: 100px;
	background-color: white;
	border: 1px solid #fff;
	border-radius: 50%;
}

#child-3{
	width: 70px;
	height: 70px;
	border: 1px solid green;
	position: absolute;
	bottom:60px;
	top: 200px ;
	left: 215px;
	right: 60px;
	background-color: white;
	border: 1px solid #fff;
}

#child-4{
	background-color: #fff;
    position: absolute;
    left: 150px;
    top: 350px;
    width: 200px;
    height: 20px;
}

