.red,.blue,.green{
	width: 60px;
	height: 60px;
	position: absolute;
}

.red{
	background-color: #FF8888;
	top:60px;
	left:60px;
}

.blue{
	background-color: #7E89EB;
	top: 100px;
	left:100px;
}

.green{
	background-color: #4DEE99;
	top:140px;
	left:140px;
}

