.red,.blue,.green{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	position: absolute;
}

.red{
	border-color: red;
	top:60px;
	left:60px;
}

.blue{
	border-color: blue;
	top: 100px;
	left:100px;
}

.green{
	border-color: green;
	top:140px;
	left:140px;
}

