.red,.blue,.green{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
}

.red{
	border-color: red;
	position: absolute;
	top:60px;
	left:60px;
}

.blue{
	border-color: blue;
	position: absolute;
	top:180px;
	left:180px;
}

.green{
	border-color: green;
	position: absolute;
	top:300px;
	left:300px;
}

