.parent{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	max-width: 700px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #000;
	padding: 5px;

}

.child{
	border: 1px solid green;
	width: 90px;
	height: 70px;
}