.parent{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid #000;
}

.child{
	border: 1px solid green;
	width: 90px;
	height: 70px;
}