.red,.blue,.green{
	width: 60px;
	height: 60px;
	border: 1px solid #000;
	position: absolute;
	top:100px;
}

.red{
	border-color: red;
	left:60px;
}

.blue{
	border-color: blue;
	left:180px;
}

.green{
	border-color: green;
	left:300px;
}

