.nav{
	display: flex;
	flex-direction: row;	
	max-width: 400px;
}

a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
	background-color: #16A177;
	max-width: 90px;
	font: 16px Arial;
	box-sizing: border-box;
}

.active, a:hover{
	background-color: #16785C;	
	box-sizing: border-box;
}