#parent {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #4DEE99;
	position: relative;
	background-color: #4DEE99;
}

#child-1{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	position: absolute;
	top:60px;
	left:60px;
	border: 1px solid #fff;
	background-color: white;
}

#child-2{
	width: 100px;
	height: 100px;
	border: 1px solid green;
	position: absolute;
	bottom:60px;
	right: 60px;
	border: 1px solid #fff;
	background-color: white;
}